<div class="medium-list">
  <div class="list-viewer-wrapper">
    <div id="form-title" class="list-header-title">Register</div>

    <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && onRegisterSubmit()" novalidate>
      <div class="form-container">
        <mat-form-field>
          <input id="username"
                  matInput
                  formControlName="username"
                  placeholder="Enter your username" />
        </mat-form-field>
        <mat-form-field>
          <input id="name"
                 matInput
                 formControlName="name"
                 placeholder="Enter your name" />
        </mat-form-field>

        <mat-form-field>
          <input id="email"
                  matInput
                  formControlName="email"
                  placeholder="Enter your email" />
          </mat-form-field>

        <mat-form-field>
          <input id="password"
                  matInput
                  formControlName="password"
                  placeholder="Enter your password"
                  [type]="hide ? 'password':'text'" />
          </mat-form-field>

          <button mat-button type="submit" 
                  id="submit"
                  class="mat-raised-button mat-primary" 
                  [disabled]="!registerForm.valid">Register</button>
      </div>
    </form>
  </div>
</div>