<button id="addnew" mat-button (click)="redirectToAddNewPage()">
  Add New
</button>
<div fxLayout fxLayoutAlign="center center">
    <mat-form-field fxFlex="40%">
      <input id="filter-field" matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
      
    </div>
    <table mat-table style="width: 100%; margin-top: 1em;" class="mat-elevation-z8" [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
          <td mat-cell *matCellDef="let sciencePaper"> {{sciencePaper.documentId}}</td>
      </ng-container>
    
      <ng-container matColumnDef="shortTitle">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let sciencePaper">{{sciencePaper.paperData.shortTitle}}</td>
      </ng-container>
    
      <ng-container matColumnDef="downloadHTML">
        <th mat-header-cell *matHeaderCellDef><mat-icon class="mat-18">cloud_download</mat-icon></th>
        <td mat-cell *matCellDef="let sciencePaper"><a href="javascript:void(0)" (click)="downloadHTML(sciencePaper.documentId)">HTML</a></td>
      </ng-container>
    
      <ng-container matColumnDef="downloadPDF">
        <th mat-header-cell *matHeaderCellDef><mat-icon class="mat-18">cloud_download</mat-icon></th>
        <td mat-cell *matCellDef="let sciencePaper"><a href="javascript:void(0)" (click)="downloadPDF(sciencePaper.documentId)">PDF</a></td>
      </ng-container>
      
      <ng-container matColumnDef="author">
          <th mat-header-cell *matHeaderCellDef>Author</th>
          <td mat-cell *matCellDef="let sciencePaper">{{ getAuthorNames(sciencePaper) }}</td>
      </ng-container>
    
      <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> Details </th>
          <td mat-cell *matCellDef="let sciencePaper">
            <button mat-icon-button color="primary" (click)="redirectToDetails(sciencePaper.documentId)">
                <mat-icon class="mat-18">reorder</mat-icon>
            </button>
          </td>
        </ng-container>
    
      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef> Update </th>
        <td mat-cell *matCellDef="let sciencePaper">
          <button mat-icon-button color="accent" (click)="redirectToUpdate(sciencePaper.documentId)">
              <mat-icon class="mat-18">system_update</mat-icon>
          </button>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let sciencePaper">
          <button mat-icon-button color="warn" (click)="showDeleteModal(sciencePaper.documentId)">
              <mat-icon class="mat-18">delete</mat-icon>
          </button>
        </td>
      </ng-container>
      
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    
    </table>
    
