<div fxLayout fxLayoutAlign="center center">
<mat-form-field fxFlex="40%">
  <input id="filter-field" matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
  
</div>
<table mat-table style="width: 100%; margin-top: 1em;" class="mat-elevation-z8" [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
      <td mat-cell *matCellDef="let sciencePaper"> {{sciencePaper.documentId}}</td>
  </ng-container>

  <ng-container matColumnDef="shortTitle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let sciencePaper">{{sciencePaper.paperData.shortTitle}}</td>
  </ng-container>

  <ng-container matColumnDef="downloadHTML">
    <th mat-header-cell *matHeaderCellDef><mat-icon class="mat-18">cloud_download</mat-icon></th>
    <td mat-cell *matCellDef="let sciencePaper"><a href="javascript:void(0)" (click)="downloadHTML(sciencePaper.documentId)">HTML</a></td>
  </ng-container>

  <ng-container matColumnDef="downloadPDF">
    <th mat-header-cell *matHeaderCellDef><mat-icon class="mat-18">cloud_download</mat-icon></th>
    <td mat-cell *matCellDef="let sciencePaper"><a href="javascript:void(0)" (click)="downloadPDF(sciencePaper.documentId)">PDF</a></td>
  </ng-container>
  
  <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef>Author</th>
      <td mat-cell *matCellDef="let sciencePaper">{{ getAuthorNames(sciencePaper) }}</td>
  </ng-container>
  
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

</table>

<h1>Search</h1>
<div style="float: left; width: 20%;">
  <h2>Metadata</h2>
  <mat-form-field>
    <input matInput [matDatepicker]="pickerPublishedDateInput" placeholder="Paper publish date" id="paperPublishDatepicker" disabled>
    <mat-datepicker-toggle matSuffix [for]="pickerPublishedDateInput"></mat-datepicker-toggle>
    <mat-datepicker #pickerPublishedDateInput disabled="false"></mat-datepicker>
  </mat-form-field>
  <h3>Keywords</h3>
  <mat-form-field>
    <input matInput type="text" id="keywordsInput" placeholder="Enter keywords" [(ngModel)]="keywordsForSearch" />
  </mat-form-field>
</div>

<div style="float: right; width: 80%;">
  <h2>Text (author, title, words from paragraphs)</h2>
  <mat-form-field>
    <input matInput type="text" id="textInput" placeholder="Enter text" [(ngModel)]="textForSearch" />
  </mat-form-field>
  <div style="margin-top: 15px;"><mat-checkbox [(ngModel)]="searchOnlyMyPapers" *ngIf="user !== null">Search only my papers</mat-checkbox></div>
  <button mat-raised-button color="primary" (click)="performSearch()" style="margin-top: 30px; margin-bottom: 20px;">Search</button>  
</div>
